/*.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}*/

/* Blue */
/*.click {
    color: dodgerblue;
}*/

.Press() {
	height:50px;
}